.App {
  width: 100%;
}

.navbar {
  background-color: grey;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar div {
  height: 100%;
  padding: 5px;
}

.navbar input[type=text] {
  padding: 6px;
  border: none;
  font-size: 17px;
}

.features {
  margin: 100px 0 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  height: 1000px;
}

.posts {
  flex-basis: 70%;
  flex-shrink: 2;
  height: auto;
  background-color: grey;
  text-align: center;
  padding: 20px;
  margin: 0 15px 0 30px;
}

.subreddits {
  flex-basis: 25%;
  flex-shrink: 0;
  height:auto;
  background-color: grey;
  padding: 20px;
  margin: 0 30px 0 15px;
}

.subreddits h1 {
  text-align: center;
}



