.App {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar div {
  display: flex;
  height: 100%;
  align-items: center;
}

.home {
  padding-left: 10px;
}

.logo {
  padding-right: 10px;
}

#search-container {
  position: relative;
}

#search {
  width: 100%;
  padding: 9px 25px 9px 40px;
  border-radius: 16.5px;
  border: solid 1px #141c3a;
  background-color: #ffffff;
  outline: none;
  box-sizing: border-box;
}

#search-icon {
  opacity: 0.5;
  position: absolute;
  top: 17px;
  left: 17px;
}

#search::placeholder {
  font-size: 14px;
  font-weight: bold;
  color: #8a8e9d;
}

#search-clear-button {
  position: absolute;
  right: 7px;
  top: 2px;
  bottom: 3px;
  border: 0;
  background: none;
  color: #141c3a;
  margin: 0;
  padding: 0 10px;
  border-radius: 100px;
  z-index: 2;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.features {
  margin: 100px 0 30px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: start;
  height: 1000px;
}

.posts-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts-container {
  flex-basis: 70%;
  flex-shrink: 2;
  height: auto;
  background-color: grey;
  text-align: center;
  padding: 0 20px 20px ;
  margin: 0 15px 0 30px;
}

.post-container {
  background-color: white;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vote {
  flex-basis: 33.33%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
}

.author {
  flex-basis: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comments {
  flex-basis: 33.33%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10px;
}

.subreddits-container {
  flex-basis: 25%;
  flex-shrink: 0;
  height:auto;
  background-color: grey;
  padding: 20px;
  margin: 0 30px 0 15px;
}

.subreddits-title {
  text-align: center;
  font-size: 30px;
}

.subreddits-list {
  display: flex;
  flex-direction: column;
}

.subreddit-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}



